/**
 * Blood theme for reveal.js
 * Author: Jonas Müller-Laackman
 *
 *
 */

 // Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Include theme-specific fonts

@import url(https://fonts.googleapis.com/css?family=Lato:300,700,300italic,700italic);

// Colors used in the theme
$red: #990000;
$coal: #000000;
$codeBackground: rgb(105, 105, 105);

$backgroundColor: $coal;

// Main text
$mainFont: Lato, 'sans-serif';
$mainColor: #fff;

// Headings
$headingFont: Lato, 'sans-serif';

// Links
$linkColor: $red;
$linkColorHover: lighten( $linkColor, 20% );

// Text selection
$selectionBackgroundColor: $red;
$selectionColor: #fff;

// Change text colors against dark slide backgrounds
@include light-bg-text-color(#222);


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

// some overrides after theme template import

.reveal p {
    font-weight: 300;
    text-shadow: 1px 1px $coal;
}

section.has-light-background {
	p, h1, h2, h3, h4 {
		text-shadow: none;
	}
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    font-weight: 700;
}

.reveal p code {
    background-color: $codeBackground;
    display: inline-block;
    border-radius: 7px;
}

.reveal small code {
    vertical-align: baseline;
}

.fragment.highlight-current-blue.current-fragment, 
.highlight {
    color: $red !important;
}

.highlight {
    font-weight: 700 !important;
}

.reveal h1 {
    text-shadow: 0px 7px 10px #000 !important;
}
